@page
@model DogTraining.Pages.DogPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Neutered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Neutered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Microchip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Microchip)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Dog.DogID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
